*{
  padding: 0;
  margin: 0;
}
.container {
  width: 1000px;

  background-color: #36213E;
  margin: 0 auto;
  text-transform: capitalize;
  text-align: center;
  font-family: sans-serif;
}

header{
  height: 150px;
  background-image: url(../images/thumb.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.login{
  padding: 10px 0 0 0;
  height: 50px;
  background-color: #544970;
}
p{
  color: red;
}

.meni {

  float: left;
  width: 20%;
  background-color: #89c6d0 ;
  height: 190px;
  padding-top: 20px;
  margin: 1.5% 0 1.5% 1.5%;



}

.links {
  width: 90%;
  margin: 0% 0% 0 4.5%;
  padding-top: 10px;

}
  .links a{

    padding:8px 0 8px 0;
    display: block;
    text-decoration: none;
  }
  .links a:hover{
    background-color: #63768d;
  }


.content {
  margin: 1.5% 1.5% 0 0;
  float: right;
  width: 75%;
  background-color: #b8f3ff ;
}

.product {
  padding-top: 10px;
  width: 200px;
  height: 350px !important;
  border: 1px solid black;
  float:left;
  margin: 5px 0 5px 35px;
}
.footer {
  background-color: #544970;
  clear: both;
  width: 100%;
}
